body {
    font-family: "Press Start 2P", system-ui;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
  }

  .gameArea{
    position: absolute;
    width: 600px;
    height: 400px;
    background: rgba(7, 26, 49, 0.6);
    top: 260px;
    border: #2acde2c7 10px solid;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    transform: perspective(1020px) rotateX(20deg) scaleX(0.33) scaleY(0.38);
  }

  .bg{
    position: absolute;
    height: 1000px;
    z-index: -1;
  }

  .paddle{
    position: absolute;
    height:100px;
    width: 15px;
    background: rgba(255, 255, 255, 0.9);
    top: 150px;
  }

  .paddle2{
    right:0;
  }

  .ball{
    position: absolute;
    height:20px;
    width:20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    left:290px;
    top:190px;
    box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.9);
  }

  .net {
    position: absolute;
    border-right: 8px rgba(255, 255, 255, 0.3) dotted;
    height: 96%;
    top: 2%;
    left: calc(50% - 4px);
  }

.title{
  position: absolute;
  top: 88px;
  font-size: 26px;
  z-index: 10;
}

.score {
  position: absolute;
  top: 265px;
  font-size: 26px;
  z-index: 10;
}

.player1Score {
  left: calc(50% - 50px);
}

.player2Score {
  right: calc(50% - 50px);
}



.startText{
  position: absolute;
  margin:0;
  top: 70%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #222;
  border-radius: 4px;
  padding: 10px
}

.vignett {
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0,0,0,1) 100%,
  );
}


